vendor/*
**templates_c/
composer.phar
.env
tests/.env.testing
config.php

# Minified files (if generating during deployment)
# *.min.js
# *.min.js.map

# Node modules (if using npm)
node_modules/
package-lock.json
