<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteEngine On
    RewriteRule ^sitemap\.xml$ sitemap.php [L]

    RewriteCond %{HTTP_USER_AGENT} "android|blackberry|googlebot-mobile|iemobile|ipad|iphone|ipod|opera mobile|mobile safari|palmos|webos" [NC]
    RewriteCond %{HTTP_HOST}   !^m.sqltest.online
    RewriteCond %{HTTP_HOST}   !^localhost
    RewriteRule ^(.+)$ https://m.sqltest.online%{REQUEST_URI} [L,R=302]

    RewriteCond %{HTTP_USER_AGENT} "!(android|blackberry|googlebot-mobile|iemobile|ipad|iphone|ipod|opera mobile|mobile safari|palmos|webos)" [NC]
    RewriteCond %{HTTP_HOST}   !^sqltest.online
    RewriteCond %{HTTP_HOST}   !^localhost
    RewriteRule ^(.+)$ https://sqltest.online%{REQUEST_URI} [L,R=302]
</IfModule>