*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --body-background-color: rgb(51, 102, 153);
    --regualr-text-color: #FFFFFF;
    --block-background-color: #126cc6;
    --text-block-border-color: lightgrey;
    --text-block-background-color: #FFFFFF;
    --special-text-color: #FFFFFF;
    --menu-link-color:  #0071DB;
    --border-color:  #0B4FCC;
    --btn-border-color:  slategrey;
    --donate-btn-background: gold;
    --green-btn-background: #187e04 !important;
    --blue-btn-background: #126cc6 !important;
    --question-text: #333333;
    --question-title-bg-color: #EEEEEE;
    --accordion-hover: #2196F3;
    --accordion-hover-border: #0B4FCC;
    --sql-background-color: #eee;
    --sql-color:  #C800A4;
    --question-date-color: gray;
    --arrow-border-color: white;
}
[data-theme="dark"] {
    --body-background-color: #0D1017;
    --regualr-text-color: #F0F6FC;
    --question-text: #F0F6FC;
    --text-block-border-color: #484F58;
    --block-background-color: #21262E;
    --text-block-background-color: #21262E;
    --special-text-color: #79C0FF;
    --menu-link-color:  #79C0FF;
    --border-color: #484F58;
    --btn-border-color: #C9D1D9;
    --donate-btn-background: #E3B341;
    --green-btn-background:#2EA043 !important;
    --blue-btn-background: #79C0FF !important;
    --question-title-bg-color: #484F58;
    --accordion-hover: #484F58;
    --accordion-hover-border: #F0F6FC;
    --sql-background-color: #484F58;
    --sql-color:  #F85149;
    --question-date-color: #F0F6FC;
    --arrow-border-color: white;
}
.ace-github-dark .ace_gutter {
    background: #24292e !important;
    color: #7388b5
  }
body {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: var(--body-background-color);
    color: var(--regualr-text-color);
}
.text-block {
    background-color: var(--text-block-background-color);
    border: 1px solid var(--text-block-border-color);
}
.invisible {
    /* visibility: hidden; */
    overflow: hidden;
    height: 0;
}

.container3 a,
.container3 a:visited,
.code-buttons a,
.code-buttons a:visited,
.footer a,
.footer a:visited,
.top-menu a,
.top-menu a:visited,
.question-title a,
.question-title a:visited,
.splitter a,
.splitter a:visited {
    text-decoration: none;
}
.container3 a,
.container3 a:visited
{
    font-weight: bold;
    color: wheat;
}
.container {
    display: grid;
    grid-template-areas:
        'header header header header header header header header'
        'menu main   main   main   main   main   splitter right'
        'menu footer footer footer footer footer splitter right';
    gap: 5px;
    background-color: var(--body-background-color);
    padding: 5px;
}

.container>div {
    padding: 5px 0;
}

.full-container {
    background-color: var(--body-background-color);
    padding: 5px;
    min-height: 98.9vh;
}
.full-container>div {
    padding: 5px 0;
}
.full-container .container3 {
    padding: 0 20px !important;
    min-height: 80vh;
}
.mobile-container .container3 {
    padding: 0 10px !important;
}
.mobile-container .footer-links {
    align-items: center;
    justify-content: center;
}
.toast {
    border: 1px solid var(--text-block-border-color);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--body-background-color);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 47%;
    top: -90px;
}
.visible {
    opacity: 100 !important;
    top: 190px;
    transition: opacity 0.3s ease-out, top 1s;
}
.login-popup.visible {
    top: 36% !important;
}
.login-button {
    position: absolute;
    cursor: pointer;
}
.container .login-button {
    right: 160px;
    top: 24px;
}
.mobile-container .login-button {
    right: 140px;
    top: 12px;
}

.site-name-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.site-name  {
    font-size: 1.5rem;
}
.mobile-container .site-name  {
    font-size: 1.5em !important;
}
.site-promo {
    font-size: 0.6em;
    padding-top: 9px;
}
.mobile-container .site-promo {
    font-size: small;
}
.login-popup  {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    min-height: 96px;
    background-color: var(--body-background-color);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 0 !important;
    position: fixed;
    z-index: 1;
    border: 1px solid gray;
    top: -1000px;
    min-width: 275px;
}

.container .login-popup {
    width: 20%;
    left: 40%;

}

.mobile-container .login-popup {
    width: 80%;
    left: 10%;
}
.login-popup-header {
    text-align: right;
    padding: 5px 9px;
    background-color: var(--block-background-color);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 12px;
}

.login-popup-footer {
    font-size: smaller;
    padding: 10px;
}

.login-popup-title {
    width: 94%;
    display: inline-block;
    text-align: left;
}

.pointer-hand {
    cursor: pointer;
}
.login-buttons-wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 12px;
    justify-content: center;
}
.social-login-button {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.yaPersonalButtonLogo {
    width: 40px in !important;
    height: 40px !important;
}

.header {
    grid-area: header;
    min-height: 3vh;
}

.top-menu {
    text-align: left;
    background-color: var(--block-background-color);
    padding: 0 7px 7px 7px;
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    color: var(--special-text-color);
}

.top-menu h1,
.top-menu h3 {
    display: inline;
    margin: 0;
}

.top-menu a,
.top-menu a:visited {
    color: var(--special-text-color);
}

.lang-swith {
    display: flex; 
    row-gap: 10px; 
    min-width: 30px; 
    margin-top: 12px; 
    align-items: center; 
    justify-content: center; 
    flex-flow: column;
}
.container .menu {
    grid-area: menu;
    border-right: 1px solid var(--text-block-border-color);
    width: 20vw;
    max-height: 100vh;
}

.mobile-container .menu {
    grid-area: menu;
    /* height: 30vh; */
    width: 99vw;
    padding: 0 3px;
    margin: 10px 0;
}

.container .main {
    grid-area: main;
    min-height: 85vh;
    color: white;
    width: 55vw;
    transition: linear 0.5s;
}

.container .main.wide {
    width: 77vw;
    transition: linear 0.5s;
}

.mobile-container .main {
    grid-area: main;
    color: white;
    width: 99vw;
    padding: 0 3px;
}

.splitter {
    width: 15px;
    padding-top: 5px;
}

.splitter a,
.splitter a:visited {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.splitter .hidden,
.accordion .hidden {
    display: none;
}
.user-solutions-count {
    color: var(--question-text);
    padding: 0 5px;
    text-align: center;
}
.right {
    grid-area: right;
    /* max-height: 100vh; */
    padding: 12px;
    overflow: auto;
    transition: easy 0.5s;
}

.right.hidden {
    display: none;
    transition: easy 0.5s;
}

.container .footer {
    grid-area: footer;
    min-height: 4vh;
}

.mobile-container .footer {
    text-align: center;
    height: 100px;
    line-height: 32px;
}
.site-description {
    max-width: 55vw; 
    display: flex; 
    padding: 0 0.5em;
    align-items: center;
}
.footer-links {
    display: flex;
    align-items: center;
    column-gap: 4px;
    height: 3rem;
    flex-flow: row wrap;
    margin-top: 10px;
}
.container .footer-links {
    width: 55vw;
}
.mobile-container .footer-links {
    width: 100vw;
}
.footer-links > div,
.footer-links > div > a {
    padding: 0 10px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.footer-links > div {
    margin-bottom: 5px;
}
.tg-icon {
    display:inline-block;
    width: 24px;
    height:24px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z' fill='%23FFF' fill-rule='evenodd'/%3e%3c/svg%3e");
}
.mobile-container .tg-icon {
    width: 32px !important;
    height:32px !important;
}
.footer a,
.footer a:visited {
    color: white;
    /* margin: 0 20px; */
    display: inline-block;
}

.menu .accordion {
    background-color: var(--block-background-color);
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.9em;
}
.accordion.active {
    background-color: var(--accordion-hover);
}
.mobile-container .menu .accordion {
    font-size: medium;
    padding-top: 16px;
}
.accordion:hover {
    background-color: var(--accordion-hover);
    border-bottom: 1px solid var(--accordion-hover-border);
}

.accordion .eye-btn {
    float: right;
}
.menu .selector {
    display: flex; 
    align-items: center;
    column-gap: 4px; 
    margin-bottom: 6px; 
    padding: 5px;
}
.menu .selector .selector-options {
    display: flex; 
    column-gap: 4px; 
    padding: 5px; 
    flex-flow: column;
}
.menu .panel {
    padding: 0;
    background-color: var(--text-block-background-color);
    color: #0071DB;
    max-height: 0;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    overflow-y: scroll;
}

.menu .panel ol {
    color: var(--menu-link-color); 
    font-size: small;
    background-color: var(--text-block-background-color);
}

.menu .panel a {
    color: var(--menu-link-color); 
    display: block;
    margin: 7px 0;
    font-size: 1.1em;
    text-decoration: none;
}
.container .question-link {
    font-size: small;
}
.mobile-container .question-link {
    font-size: larger;
}
.container .menu .panel.active {
    max-height: 22vh !important;
}

.mobile-container .active {
    max-height: 20vh !important;
}

.current-question {
    font-weight: bold;
}

.question-link.solved {
    color: gray !important;
}

.container .menu .menu-ad {
    height: 32vh;
    margin-top: 1vh;
}
.mobile-container .menu .menu-ad {
    height: 60px;
    margin: 10px 0;
}

.question-wrapper {
    margin: 0 0 12px 0;
    background-color: var(--text-block-background-color);
    border: 1px solid var(--text-block-border-color);
    color: var(--question-text);
}
.question {
    padding: 5px 15px;
    font-size: larger;
    line-height: 1.3em;
}
.question a,
.question a:visited,
.code-result a,
.code-result a:visited {
    color: var(--menu-link-color);
}
.question-title {
    display: flex; 
    width:100%;
    font-weight: bold;
    background-color: var(--question-title-bg-color);
    padding: 6px;
}

.question-level {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    background-color: gray;
    margin-right: 5px;
}
.question-level.rate1 {
    background-color: #6dd320;
}
.question-level.rate2 {
    background-color: #55a300;
}
.question-level.rate3 {
    background-color: #edbc09;
}
.question-level.rate4 {
    background-color: #cb1313;
}
.question-level.rate5 {
    background-color: #990000;
}
.question pre {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    white-space: pre-line;
}

.question-title .question-dates {
    color: var(--question-date-color);
    font-size: small;
    padding-left: 20%;
}

.question-navigate {
    display: flex; 
    background-color: var(--block-background-color);  
    border-bottom: 1px solid var(--text-block-border-color); 
    color: white;
}
.question-navigate a {
    padding: 4px 12px;
}
.question .sql,
.code-result .sql {
    /* background-color: var(--sql-background-color);  */
    color: var(--sql-color);
    padding: 0 3px;
}

.arrow {
    display: inline-block;
    padding: 3px;
    border: solid var(--arrow-border-color);
    border-width: 0 3px 3px 0;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.question-rate-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: center;
    font-size: small;
    margin-top: 10px;
    font-style: italic;
}
.question-rate-panel .buttons {
    flex-flow: row;
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
}

.question-action {
    font-style: italic;
    padding: 0 15px 5px;
    font-size: smaller;
}

.question .attention {
    font-weight: bold;
    font-style: italic;
}
.answers {
    padding: 5px 15px;
}
.answer {
    padding:10px;
    display: flex;
    gap: 0.5em;
}
.answer input {
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
}
.answer label {
    line-height: 20px;
}
.code-actions {
    text-align: right;
    padding-bottom: 3px;
}

.code-wrapper {
    border: 1px solid var(--text-block-border-color);
    resize: vertical;
    min-height: 28vh;
    max-height: 28vh;
    background-color: var(--text-block-background-color);
}

.code-buttons {
    text-align: end;
}

.code-buttons a {
    font-size: smaller;
}

.button {
    background-color: var(--block-background-color);
    color: white;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    min-width: 98px;
    margin: 7px 0;
    border: 1px solid var(--btn-border-color);
    border-radius: 2px;
}

.button.green {
    background-color: var(--green-btn-background);
}
.button.blue {
    background-color: var(--blue-btn-background);
}
.button-small.red {
    background-color: darkred;
}

.button.hidden {
    display: none;
}

.code-result {
    border: 1px solid var(--text-block-border-color);
    min-height: 28vh;
    padding: 15px;
    max-height: 28vh;
    overflow: auto;
    color: var(--question-text);
    background-color: var(--text-block-background-color);
}

.code-result .result-table,
.code-result .hint-table {
    border: 1px solid gray;
    width: 100%;
    border-collapse: collapse;
}

.code-result .result-table th,
.code-result .result-table td,
.code-result .hint-table th,
.code-result .hint-table td {
    border: 1px solid silver;
    color: var(--question-text);
    font-size: smaller;
}

.code-result a {
    text-decoration: none;
}

.code-result .result-table th,
.code-result .result-table td:nth-child(1) {
    background-color: var(--question-title-bg-color);
}

.code-result .result-table td:nth-child(1) {
    width: 16px;
    text-align: right;
}

.code-result .sql_error {
    background-color: var(--sql-background-color); 
    color: var(--sql-color);
    font-weight: bolder;
}

.code-result .hint-code {
    background-color: #eee;
    padding: 7px;
}

.db-description {
    height: 90vh;
    overflow: auto;
    margin-top: 10px;
}
.db-description h3{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.db-description table {
    border-collapse: collapse;
    width: 100%;
    font-size: smaller;
}

.db-description th,
td {
    border: 1px solid var(--text-block-border-color);
    text-align: left;
    padding: 8px;
}

.db-description .sql {
    color: var(--special-text-color); /* wheat;*/
    font-weight: bold;
    cursor: pointer;
}

.db-description .table-columns {
    font-size: smaller;
    padding-inline: 14px;
}

.db-description .table-wrapper {
    overflow-x: auto;
    padding: 7px 0;
    margin-bottom: 1em;
}

.container .right .db-description .table-wrapper {
    max-width: 24vw;
}

.mobile-container .right .db-description .table-wrapper {
    max-width: 99vw;
}

.db-description a,
.db-description a:visited {
    color: white;
    /* text-decoration: none; */
    font-weight: bold;
}
.solution-wrapper {
    margin: 0 0 12px 0;
    background-color: var(--text-block-background-color);
    border: 1px solid var(--text-block-border-color);
    color: var(--question-text);
}
.solution-block {
    height: 20vh;
    /* width: 21vw; */
}
.solution-title,
.solution-footer {
    font-weight: bold;
    font-size: small;
    background-color: var(--question-title-bg-color);
    padding: 6px;
}
.solution-footer {
    text-align: right;
    background-color: var(--body-background-color);
}
.question-footer .question-dates {
    color: var(--question-date-color);
    font-size: small;
    text-align: right;
}
.button-small {
    background-color: var(--block-background-color);
    color: white;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    min-width: 98px;
    margin: 7px 0;
    border: 1px solid var(--btn-border-color);
    border-radius: 2px;
    font-size: small;
}
.donate-btn {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 12px;
    background: var(--donate-btn-background);
    color: brown !important;
    position: absolute;
}

.shake {
    animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.book-card {
    display: flex;
    min-width:340px;
}
.full-container .book-card {
    max-width: 30%;
}
.help {
    color: darkred;
    background-color: white;
    padding: 1px 5px;
    font-size: x-small;
    border-radius: 50%;
    margin-bottom: 3px;
    vertical-align: top;
    cursor: pointer;
}

/*Dark theme switch start*/
.theme-switch-wrapper {
	display: flex;
	align-items: center;
	position: absolute;
}
.theme-switch {
	display: inline-block;
	height: 30px;
	position: relative;
	width: 60px;
}
.theme-switch input {
	display:none;
}
.slider {
	background-color: white;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}
.slider:before {
	background-color: var(--block-background-color);
	bottom: 3px;
	content: "";
	height: 24px;
	left: 3px;
	position: absolute;
	transition: .4s;
	width: 24px;
}
.slider .moon {
	float: right; 
	margin: 3px;
	overflow: inherit; 
	width: 18px; 
    height: 18px;
}
input:checked + .slider:before {
	background-color: var(--text-color);
}
input:checked + .slider {
	background-color: black;
	color: var(--regualr-text-color);
}
input:checked + .slider:before {
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
	color: black;
	padding: 3px 1px;
}
.slider.round:before {
	border-radius: 50%;
}
/*Dark theme switch end*/

.loader {
    color: #50aaFF;
    font-size: 20px;
    margin: 120px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}